<form action="{{ routes.cart_url }}" method="post">
<h1>Cart</h1>

    {% for item in cart.items %}
        <div>
            <img src='{{ item.image | image_url: width:200}}'>
            <h2>{{item.title}} </h2>
            <p>{{item.price | money}} </p>
            <input type="text" name="updates[]" value="{{ item.quantity }}">
            <input type="submit" value="Update cart">
            <a href='{{item.url_to_remove}}'>Remove</a>
            <br/>
            {% if item.original_price > item.final_price %}
                original_price:<s>{{ item.original_price | money }}</s>
            {% endif %}

            final_price: {{ item.final_price | money }}

            {% if item.line_level_discount_allocations.size > 0 %}
                Discounts:
                <ul>
                  {% for discount_allocation in item.line_level_discount_allocations %}
                    <li>
                      {{ discount_allocation.discount_application.title }}-{{ discount_allocation.amount | money }}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
        </div>
    {% endfor%}

    <hr/>

    <p>Total:{{ cart.total_price | money }} </p>
    <input type="submit" name="checkout" value="Checkout">
</form>
